# Dead Themes
/wp-content/themes/twentytwentytwo
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentyfour

# Plugins
/wp-content/plugins

# DS_Store
.DS_Store
**/.DS_Store

# node_modules
node_modules

# Uploads
/wp-content/uploads

# Cache
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backups/
/wp-content/debug.log